body{
    background-color: white;
    
}
.landing {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5em;
    margin-top: 75px;
  }
.login-header{
    background-color: #1c2646;
    top: 0em;
    margin-top: 0px;
    margin-left: -8px;
    margin-right: 20px;
    /*display: flexbox;*/
    width: 104%;
    position: fixed;
}
.header-img{
    float: left;
    color: white;
    height: 48px;
    width: 90.9px;
    padding: 8px;
    margin-left: 20px;
    margin-top: 5px;
}
.header-text{
    color: white;
    width: 48px;
    height: 22px;
    font-family: 'Nunito Sans';
    margin: 22px 0 -1px 50px;
    font-size: 16px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    float: inherit;
    position: fixed;
}
h1{
    font-family: 'Nunito Sans';
    margin: 29px 400px 23px;
    color: #242a11
}
.landing-box{
    margin: 18px 0px 35px 0px;
    width: 410px;
    height: 319px;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    min-width: 10em;
    padding: 30px 46px 38px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.email{
    width: 105px;
    height: 16px;
    margin: 14px 208px 10px -36px;
    opacity: 0.3;
    font-family: 'Nunito Sans';
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #242a11;
}
.username{
    width: 75%;
    height: 22px;
    margin: 4px 177px 10px 48px;
    font-family: 'Nunito Sans';
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #242a11;
    border-bottom-style: inset;
    border-bottom-color: grey;
    border-top: none;
    border-left: none;
    border-right: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.password{
    width: 105px;
    height: 16px;
    margin: 0 306px -1px 25px;
    opacity: 0.3;
    font-family: 'Nunito Sans';
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #242a11;
}
.pass{
    width: 75%;
    height: 22px;
    margin: -6px -56px 10px 0px;
    font-family: 'Nunito Sans';
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #242a11; 
    border-bottom-style: inset;
    border-bottom-color: grey;
    border-top: none;
    border-left: none;
    border-right: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.hr{
    width: 300px;
    height: 1px;
    margin: -10px 0 0;
    opacity: 0.06;
    background-color: #000000;
}
.login{
    width: 80%;
    height: 45px;
    margin: 35px 0 15px;
    padding: 0px 125.5px 11px 126.5px;
    border-radius: 22.5px;
    background-color: #20cdbb;
    border: none;
}
.button-text{
  width: 48px;
  height: 22px;
  font-family: 'Nunito Sans';
  font-size: 16px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.forgot{
  width: 118px;
  height: 20px;
  margin: 15px 93px 0 94px;
  font-family: 'Nunito Sans';
  font-size: 14px;
  font-weight: bolder;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #51a8d1;
  text-decoration: none;
}
a.forgot:hover{
    text-decoration: underline;
}
.icon{
  width: 22px;
  height: 12px;
  margin: 6px 40px 0px 0px;
  object-fit: contain;
  opacity: 0.15;
}
i.icon:hover{
    color: black;
}
.hr1{
    width: 300px;
    height: 1px;
    margin: -13px 0 0;
    opacity: 0.06;
    background-color: #000000;  
}
input.username:focus{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: inset;
    border-bottom-color: grey;
}
input.pass:focus{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: inset;
    border-bottom-color: grey;
}
.footer{
    background-color: #183380;   
    width: 100% ;
    height: 36px;
    margin: 88px 20px 0 -8px;
    padding: 13px 82px 7px 0px;
    position: relative;
}
.footer_text{
    color: white;
    float: left;
    font-family: 'Nunito Sans';
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    width: 300px;
    height: 20px;
    margin: 0 796px -15px 80px;
    opacity: 0.7;
}
.icons{
    color: white;
    float: right;
    width: 96px;
    height: 18px;
    margin: 1px 80px 1px 796px;
    opacity: 0.7;
    font-family: FontAwesome;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
}
.fb{
    padding: 0 12px 0 0;
}
.tt{
    padding: 0 10px 0 8px;
}
.gp{
    padding: 0 0 0 2px;
}
.account{
    width: 300px;
    height: 20px;
    margin: 0 0px 9px 424px;
    opacity: 0.8;
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #242a11;
}
.link{
  width: 52px;
  height: 20px;
  margin: -1 0 0 0px;
  font-family: 'Nunito Sans';
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: right;
  color: #51a8d1;
  text-decoration: none;
}
button:hover{
    transform: scale(1.1);
}
a.link:hover{
    text-decoration-line: underline;
}
.landing-footer {
    background-color: #1c2646;
    font-size: 1em;
    color: #ffffff;
    text-align: center;
    width: 104%;
    bottom: 0em;
}
.div1{
    margin-left: 200px;
    margin-top: 20px;
}
@media screen and (max-width: 600px) {
    .landing-box{
        margin-left: 405px;
    }
    .password{
        margin-left: -15px;
        margin-right: 208px;
    }
    .email{
        margin-left: 10px;
    }
    .username{
        margin-left: 10px;
    }
    .pass{
        margin-left: -29px;
    }
    h1{
        margin-left: 251px;
        margin-top: 30px;
    }
    .account{
        margin-left: 251px;
    }
    .forgot{
        margin-left: 33.5px;
        margin-right: 18px;
    }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
    h1{
        margin-left: 215px;
    }
    .account{
        margin-left: 215px;
    }
    .email{
        margin-left: 28px;
    }
}
/*# sourceMappingURL=login.map */